html, body {
  padding: 0;
  margin: 0;
  overflow-x: hidden; }

* {
  box-sizing: border-box; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  opacity: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }

a {
  color: inherit;
  text-decoration: none; }
  a[href^="http"]:empty::before {
    content: attr(href); }

::-moz-selection {
  background-color: #F8E71C;
  color: #000; }

::selection {
  background-color: #F8E71C;
  color: #000; }

@font-face {
  font-family: 'MonumentExtended-Light';
  src: url("../fonts/Monument/MonumentExtended-Light.woff2") format("woff2"), url("../fonts/Monument/MonumentExtended-Light.otf") format("opentype");
  font-style: normal;
  font-weight: 300; }

@font-face {
  font-family: 'MonumentExtended-Regular';
  src: url("../fonts/Monument/MonumentExtended-Regular.woff2") format("woff2"), url("../fonts/Monument/MonumentExtended-Regular.otf") format("opentype");
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: 'MonumentExtended-Black';
  src: url("../fonts/Monument/MonumentExtended-Black.woff2") format("woff2"), url("../fonts/Monument/MonumentExtended-Black.otf") format("opentype");
  font-style: normal;
  font-weight: 900; }

@font-face {
  font-family: 'Sk-Modernist-Regular';
  src: url("../fonts/Sk-Modernist/Sk-Modernist-Regular.otf") format("opentype");
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: 'Bigilla';
  src: url("../fonts/Bigilla/Bigilla-Bold.otf") format("opentype");
  font-style: normal;
  font-weight: 700; }

@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: 'NotoSans';
  src: url("../fonts/NotoSans/NotoSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400; }

html::-webkit-scrollbar {
  width: 8px;
  background-color: #0a0a0a;
  /* or add it to the track */ }

html::-webkit-scrollbar-thumb {
  background-color: whitesmoke;
  border-radius: 500px; }

.site-body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-color: #0a0a0a;
  overflow-x: hidden; }

.site-header {
  position: relative;
  width: 100%;
  min-height: 50vh; }

.site-main {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto; }

.site-footer {
  margin-top: auto;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0; }

.container {
  position: relative;
  min-width: 320px;
  max-width: 1080px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto; }

.navbar__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 8px 0; }

.navbar__item--title {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

.navbar__item--type {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

.navbar__item--year {
  -webkit-box-flex: 2;
  -webkit-flex-grow: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
  text-align: right; }

.hr {
  width: 100%;
  height: 2px;
  background-color: #fff; }

.headline {
  position: relative;
  width: 100%;
  height: 100%; }
  @media only screen and (min-width: 540px) {
    .headline__text-wrapper {
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 15px;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); } }
  .headline__title {
    margin: 1.2rem 0; }
  @media only screen and (min-width: 540px) {
    .headline__image-container {
      width: 50%;
      margin-left: auto;
      margin-top: -10px; } }
  .headline__image {
    max-width: 100%;
    min-height: 400px; }

.section {
  margin-bottom: 80px; }
  .section--null {
    margin-bottom: 0; }

.section-header__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%; }

.section-header__title {
  padding: 0;
  padding: 8px 0;
  margin: 0; }

.about {
  width: 100%; }
  @media only screen and (min-width: 620px) {
    .about__wrapper {
      width: 70%;
      margin-left: auto; } }

.project-list__item {
  position: relative;
  display: block;
  padding: 1.5vw 0 0 0; }
  .project-list__item .marquee__item {
    padding: 1.5vw 2vw 0; }

.project-list__link {
  position: relative;
  bottom: 0;
  display: inline-block;
  white-space: nowrap;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: opacity .4s;
  transition: opacity .4s; }
  .project-list__link:hover {
    -webkit-transition-duration: .1s;
    transition-duration: .1s;
    opacity: 0; }

.project-list__img {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 100%;
  width: 100%;
  max-width: 120px;
  pointer-events: none;
  opacity: 0;
  -webkit-transform: translate3d(calc(-100% - 6vw), -30%, 0) translate3d(0, 20px, 0);
  transform: translate3d(calc(-100% - 6vw), -30%, 0) translate3d(0, 20px, 0); }
  @media only screen and (min-width: 540px) {
    .project-list__img {
      max-width: 150px; } }
  @media only screen and (min-width: 760px) {
    .project-list__img {
      max-width: 200px; } }

.project-list__link:hover + .project-list__img {
  opacity: 1;
  -webkit-transform: translate3d(calc(-100% - 6vw), -30%, 0) rotate3d(0, 0, 1, 5deg);
  transform: translate3d(calc(-100% - 6vw), -30%, 0) rotate3d(0, 0, 1, 5deg);
  -webkit-transition: all .4s;
  transition: all .4s; }

.project-list__link:hover ~ .marquee .marquee__inner {
  -webkit-animation-play-state: running;
  animation-play-state: running;
  opacity: 1;
  -webkit-transition-duration: .4s;
  transition-duration: .4s; }

.marquee {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  mix-blend-mode: difference;
  z-index: 100; }
  .marquee__inner {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-animation: marquee 5s linear infinite;
    animation: marquee 5s linear infinite;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
    opacity: 0;
    -webkit-transition: opacity .1s;
    transition: opacity .1s; }
  .marquee__item {
    white-space: nowrap;
    text-transform: uppercase; }

@-webkit-keyframes marquee {
  0% {
    -webkit-transform: translate3d(calc(-25% + 20vw), 0, 0);
    transform: translate3d(calc(-25% + 20vw), 0, 0); }
  100% {
    -webkit-transform: translate3d(calc(-50% + 20vw), 0, 0);
    transform: translate3d(calc(-50% + 20vw), 0, 0); } }

@keyframes marquee {
  0% {
    -webkit-transform: translate3d(calc(-25% + 20vw), 0, 0);
    transform: translate3d(calc(-25% + 20vw), 0, 0); }
  100% {
    -webkit-transform: translate3d(calc(-50% + 20vw), 0, 0);
    transform: translate3d(calc(-50% + 20vw), 0, 0); } }

.social-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: .5rem 0; }
  .social-list__link {
    display: block; }

.skills-list {
  margin-top: 2rem; }
  .skills-list__term {
    margin-bottom: 5px; }
  .skills-list__def {
    margin-left: 40px;
    margin-bottom: 15px; }
  .skills-list__pre {
    margin: 0; }

.flash-cursor {
  position: relative;
  right: 3px;
  font-size: 1.3rem;
  -webkit-animation: flash 1.2s step-end infinite;
  animation: flash 1.2s step-end infinite;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes flash {
  0%, 100% {
    opacity: 0; }
  50% {
    opacity: 1; } }

@keyframes flash {
  0%, 100% {
    opacity: 0; }
  50% {
    opacity: 1; } }

html, body {
  font-family: 'NotoSans';
  color: #fff; }

.navbar__item {
  font-family: 'MonumentExtended-Light';
  font-size: .8rem;
  font-weight: 300; }

.headline__title {
  font-family: 'MonumentExtended-Regular';
  font-size: 1.8rem; }
  @media only screen and (min-width: 620px) {
    .headline__title {
      font-size: 2.5rem; } }
  @media only screen and (min-width: 760px) {
    .headline__title {
      font-size: 3rem; } }

.section-header__title {
  font-family: 'MonumentExtended-Light';
  font-size: 1rem;
  font-weight: 300; }

.section-header__order {
  font-family: 'MonumentExtended-Light';
  font-size: 1rem;
  font-weight: 300; }

.about {
  font-size: 1.2rem; }
  @media only screen and (min-width: 620px) {
    .about {
      font-size: 1.5rem; } }

.project-list {
  font-size: 8vw; }
  @media only screen and (min-width: 1440px) {
    .project-list {
      font-size: 7rem; } }
  .project-list__link, .project-list .marquee__item {
    color: #fff;
    font-family: 'Bigilla';
    line-height: 1.5; }
  .project-list__img {
    font-size: 1rem; }

.social-list__link {
  font-size: 1.2rem; }

.skills-list__item {
  font-size: 1.2rem; }
