.textarea {
  width: 100%;
  min-height: 180px;
  border-color: $red;
  font-size: 1rem;
  resize: vertical;
  overflow: auto;

  @include media-tablet {
    min-height: 400px;
  }

  // h/f/a/tr
  &:focus {
    outline: none;
    box-shadow: 0 0 5px $red;
  }
}