.btn-label {
  display: block;
  border: 2px solid $btn-bg;
  border-radius: 1rem;
  color: $btn-bg;
}

// h/f/a
.dnd-area__input:hover+.btn-label {
  cursor: pointer;
  box-shadow: 0 0 5px $btn-bg;
}

.dnd-area__input:focus+.btn-label {
  box-shadow: 0 0 5px $btn-bg;
}

.dnd-area__input:active+.btn-label {
  box-shadow: inset 0 0 2px #000;
}