.delete-btn {
  $width: 30px;
  $height: $width;
  // position: relative;
  // display: block;
  width: $width;
  height: $height;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, .8);
  cursor: pointer;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: $width - 10px;
    height: 2px;
    background-color: #fff;
  }

  &::before {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}