.info {
  display: block;

  &__item {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    @media (min-width: 764px) {
      padding: 0;
      margin-bottom: 12px;
    }
    @media (min-width: 1180px) {
      margin-bottom: 22px;
    }
    &--tablet {
      display: none;
      @media (min-width: 764px) {
        display: flex;
      }
    }
    &--desktop {
      display: none;
      @media (min-width: 1180px) {
        display: flex;
      }
    }
  }
  
  &__term {
    width: 50%;
    font-size: 16px;
    font-weight: 600;
    color: #342b2b;
    @media(min-width: 764px) {
      width: 28%;
    }
    @media(min-width: 1180px) {
      width: 43%;
      font-size: 18px;
    }
  }
  
  &__add {
    display: none;
    @media(min-width: 764px) {
      display: inline;
    }
  }

  &__phone {
    position: relative;
    bottom: 3px;
    font-size: 16px;
    font-weight: 600;
    color: #342b2b;
    @media(min-width: 1180px) {
      font-size: 18px;
    }
  }
}


