.about {
  margin-left: -15px;
  margin-right: -15px;
}
@media (min-width: 765px) {
  .about {
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 1441px) {
  .about__wrapper {
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
.about__img-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 65px;
}
@media (min-width: 765px) {
  .about__img-wrapper picture:nth-child(1)::before {
    content: '';
    position: absolute;
    top: 33%;
    right: 33%;
    width: 150%;
    height: 50%;
    background-color: #f8f8f8;
    z-index: -1;
  }
  .about__img-wrapper picture:nth-child(2)::after {
    content: '';
    position: absolute;
    top: 33%;
    left: 80%;
    width: 150%;
    height: 65%;
    background-color: #f8f8f8;
    z-index: -1;
  }
}
@media (min-width: 1441px) {
  .about__img-wrapper {
    width: 650px;
  }
}
.about__img {
  width: 160px;
}
.about__img:last-of-type {
  width: 145px;
}
@media (min-width: 765px) {
  .about__img,
  .about__img:last-of-type {
    width: 306px;
  }
}
.about__img--disp {
  position: relative;
  top: 35px;
}
.about__text {
  display: block;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}
@media (min-width: 765px) {
  .about__text {
    width: 300px;
    margin-top: -35px;
    font-size: 16px;
    text-align: left;
  }
}
@media (min-width: 1441px) {
  .about__text {
    font-size: 18px;
  }
}
.about__text--add {
  display: none;
}
@media (min-width: 1441px) {
  .about__text--add {
    display: block;
    margin-top: 30px;
  }
}
@media (min-width: 765px) {
  .about__text-wrapper {
    display: flex;
  }
}
@media (min-width: 1441px) {
  .about__text-wrapper {
    flex-direction: column;
    width: 350px;
  }
}
.about__contact {
  margin-right: auto;
  margin-left: 35px;
}
@media (min-width: 1441px) {
  .about__contact {
    margin-top: 30px;
    margin-left: 0;
  }
}
.about-contact {
  text-align: center;
}
@media (min-width: 765px) {
  .about-contact {
    text-align: left;
  }
}
.about-contact__item {
  padding: 0;
  margin: 0;
  font-size: 16px;
}
.about-contact__item:last-of-type {
  margin-bottom: 15px;
}
.about-contact__item span {
  font-weight: 600;
}
