.link {
  font-family: 'Cormorant', serif;
  font-size: 14px;
  font-weight: 400;
  color: @black;
  
  @media(min-width: 1180px) {
    font-size: 18px;
  }

  &--color_r {
    color: @darkred
  }
  
  &--weight_b {
    font-weight: 600;
  }
  
  &--underline_r {
    padding-bottom: 5px;
    border-bottom: 1px solid @darkred;
  }
  
  &--underline_b {
    text-decoration: underline;
  }
  &:not(&--underline_r):not(&--underline_b):hover {
    text-decoration: underline;
  }
}