.mail {
  display: block;
  width: 180px;
  font-family: 'Cormorant', serif;
  font-size: 16px;
  font-weight: 400;
  color: #342b2b;
  text-align: left;
  background: none;
  border: none;
  border-bottom: 1px solid #342b2b;
  outline: none;
}
.mail::-moz-placeholder {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.05em;
  color: #342b2b;
}
.mail:-ms-input-placeholder {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.05em;
  color: #342b2b;
}
.mail::placeholder {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.05em;
  color: #342b2b;
}
.mail--center {
  text-align: center;
}
