.intro-nav {
  padding: 0;
  margin: 0;
  font-size: 0;
  font-weight: 500;
  color: #952126;
  white-space: nowrap;
}
.intro-nav__slash {
  font-size: 24px;
}
@media (min-width: 1180px) {
  .intro-nav__slash {
    font-size: 36px;
  }
}
.intro-nav__count {
  font-size: 24px;
}
@media (min-width: 1180px) {
  .intro-nav__count {
    font-size: 36px;
  }
}
.intro-nav__count--total {
  position: relative;
  top: 8px;
  font-weight: 400;
  color: #0b0b0b;
}
@media (min-width: 764px) {
  .intro-nav__count--total {
    font-size: 18px;
  }
}
@media (min-width: 1180px) {
  .intro-nav__count--total {
    top: 16px;
    font-size: 24px;
  }
}
