@font-face {
  font-family: 'Cormorant';
  src: url('../fonts/Cormorant/Cormorant-Light.eot');
  src: local('Cormorant Light'), local('Cormorant-Light'), url('../fonts/Cormorant/Cormorant-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/Cormorant/Cormorant-Light.woff') format('woff'), url('../fonts/Cormorant/Cormorant-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Cormorant';
  src: url('../fonts/Cormorant/Cormorant-Regular.eot');
  src: local('Cormorant Regular'), local('Cormorant-Regular'), url('../fonts/Cormorant/Cormorant-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Cormorant/Cormorant-Regular.woff') format('woff'), url('../fonts/Cormorant/Cormorant-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Cormorant';
  src: url('../fonts/Cormorant/Cormorant-Medium.eot');
  src: local('Cormorant Medium'), local('Cormorant-Medium'), url('../fonts/Cormorant/Cormorant-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Cormorant/Cormorant-Medium.woff') format('woff'), url('../fonts/Cormorant/Cormorant-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Cormorant';
  src: url('../fonts/Cormorant/Cormorant-SemiBold.eot');
  src: local('Cormorant SemiBold'), local('Cormorant-SemiBold'), url('../fonts/Cormorant/Cormorant-SemiBold.eot?#iefix') format('embedded-opentype'), url('../fonts/Cormorant/Cormorant-SemiBold.woff') format('woff'), url('../fonts/Cormorant/Cormorant-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Medium.eot');
  src: local('Roboto Medium'), local('Roboto-Medium'), url('../fonts/Roboto/Roboto-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto/Roboto-Medium.woff') format('woff'), url('../fonts/Roboto/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Cormorant', serif;
  font-size: 16px;
  font-style: normal;
  color: #342b2b;
  background-color: #fff;
}
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 10px;
  height: 8px;
  background-color: rgba(236, 229, 225, 0.7);
  /* or add it to the track */
}
html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #decec5;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
a[href^="http"]:empty::before {
  content: attr(href);
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  opacity: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  width: 100%;
  max-width: 320px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media (min-width: 764px) {
  .container {
    max-width: 764px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (min-width: 1180px) {
  .container {
    max-width: 1180px;
    padding-left: 37px;
    padding-right: 37px;
  }
}
@media (max-width: 763px) {
  .container--wide {
    padding-left: 0;
    padding-right: 0;
  }
}
@media (min-width: 1180px) {
  .container--wide {
    padding-left: 0;
    padding-right: 0;
  }
}
@media (min-width: 1180px) {
  .container--desktop {
    max-width: none;
  }
}
.container--blog {
  position: relative;
}
.site-wrapper {
  min-width: 320px;
  width: 100%;
}
.site-wrapper__section {
  margin-top: 67px;
}
@media (min-width: 764px) {
  .site-wrapper__section {
    margin-top: 96px;
  }
}
@media (min-width: 1180px) {
  .site-wrapper__section {
    margin-top: 159px;
  }
}
.site-wrapper__section--blog {
  margin-top: 70px;
}
@media (min-width: 764px) {
  .site-wrapper__section--blog {
    margin-top: 80px;
  }
}
@media (min-width: 1180px) {
  .site-wrapper__section--blog {
    margin-top: 162px;
  }
}
.site-wrapper__section--subscribe {
  margin-top: 146px;
}
@media (min-width: 764px) {
  .site-wrapper__section--subscribe {
    margin-top: 112px;
  }
}
.site-wrapper__footer {
  margin-top: 92px;
}
@media (min-width: 764px) {
  .site-wrapper__footer {
    margin-top: 142px;
  }
}
@media (min-width: 1180px) {
  .site-wrapper__footer {
    margin-top: 164px;
  }
}
.site-header {
  position: relative;
  width: 100%;
}
.site-header__container {
  position: absolute;
  top: 9px;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 764px) {
  .site-header__container {
    top: 42px;
    padding-left: 9px;
    padding-right: 60px;
  }
}
@media (min-width: 1180px) {
  .site-header__container {
    top: 40px;
    padding-left: 20px;
    padding-right: 220px;
  }
}
.site-header__icons {
  position: relative;
  width: 105px;
}
@media (min-width: 764px) {
  .site-header__icons {
    width: 221px;
  }
}
@media (min-width: 1180px) {
  .site-header__icons {
    width: 291px;
  }
}
.site-intro {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 490px;
  background-color: #f0eae7;
  background-image: -webkit-linear-gradient(rgba(236, 229, 225, 0.8), rgba(236, 229, 225, 0.8)), url("../../imgs/iamwoman-mobile-assets/icons8-team-355985-unsplash.jpg");
  background-image: linear-gradient(rgba(236, 229, 225, 0.8), rgba(236, 229, 225, 0.8)), url("../../imgs/iamwoman-mobile-assets/icons8-team-355985-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
@media (min-width: 764px) {
  .site-intro {
    min-height: 823px;
    background-image: -webkit-linear-gradient(left, rgba(236, 229, 225) 0, rgba(236, 229, 225) 50px, #fff 50px, #fff 60%, rgba(236, 229, 225, 0.8) 60%, rgba(236, 229, 225, 0.8)), url("../../imgs/iamwoman-mobile-assets/icons8-team-355985-unsplash.jpg");
    background-image: linear-gradient(to right, rgba(236, 229, 225) 0, rgba(236, 229, 225) 50px, #fff 50px, #fff 60%, rgba(236, 229, 225, 0.8) 60%, rgba(236, 229, 225, 0.8)), url("../../imgs/iamwoman-mobile-assets/icons8-team-355985-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: 0 0, right top;
    background-size: auto 120%;
  }
}
@media (min-width: 1180px) {
  .site-intro {
    min-height: 840px;
    background-image: -webkit-linear-gradient(left, rgba(236, 229, 225) 0, rgba(236, 229, 225) 75px, #fff 75px, #fff 50%, rgba(236, 229, 225, 0.8) 50%, rgba(236, 229, 225, 0.8)), url("../../imgs/iamwoman-mobile-assets/icons8-team-355985-unsplash.jpg");
    background-image: linear-gradient(to right, rgba(236, 229, 225) 0, rgba(236, 229, 225) 75px, #fff 75px, #fff 50%, rgba(236, 229, 225, 0.8) 50%, rgba(236, 229, 225, 0.8)), url("../../imgs/iamwoman-mobile-assets/icons8-team-355985-unsplash.jpg");
  }
  .site-intro::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50%;
    height: 80px;
    background-color: #fff;
  }
}
.site-intro__container {
  position: relative;
}
@media (min-width: 764px) {
  .site-intro__description {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    min-height: 823px;
    padding-left: 60px;
    padding-top: 28px;
    padding-bottom: 28px;
  }
}
@media (min-width: 1180px) {
  .site-intro__description {
    position: relative;
    left: 100px;
    min-height: 840px;
    padding-left: 0;
    padding-bottom: 80px;
    margin-left: -37px;
  }
}
@media (min-width: 1360px) {
  .site-intro__description {
    position: static;
  }
}
@media (min-width: 1180px) {
  .site-intro__bg-numb {
    position: relative;
    display: inline-block;
  }
  .site-intro__bg-numb::before {
    content: '19';
    position: absolute;
    top: -25%;
    left: 0;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: -1;
    font-size: 177px;
    color: rgba(236, 229, 225, 0.3);
  }
}
.site-intro__logo {
  visibility: hidden;
}
@media (min-width: 764px) {
  .site-intro__logo {
    visibility: visible;
    margin-left: 36px;
  }
}
@media (min-width: 1180px) {
  .site-intro__logo {
    margin-left: 110px;
  }
}
.site-intro__aside {
  display: none;
}
@media (min-width: 764px) {
  .site-intro__aside {
    position: absolute;
    bottom: 162px;
    left: calc(48px / 2);
    z-index: 100;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
    display: block;
  }
}
@media (min-width: 1180px) {
  .site-intro__aside {
    bottom: 235px;
    left: calc(74px / 2);
  }
}
.site-intro__aside::before {
  display: none;
}
@media (min-width: 764px) {
  .site-intro__aside::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -120%;
    display: block;
    width: 95px;
    height: 2px;
    background-color: #342b2b;
  }
}
@media (min-width: 1180px) {
  .site-intro__aside::before {
    left: -90%;
  }
}
.site-intro__offer {
  font-size: 14px;
  font-weight: 300;
  color: #342b2b;
  line-height: 14px;
  letter-spacing: 0.05em;
}
@media (min-width: 1180px) {
  .site-intro__offer {
    font-size: 18px;
  }
}
.site-intro__social {
  visibility: hidden;
}
@media (min-width: 764px) {
  .site-intro__social {
    visibility: visible;
  }
}
@media (min-width: 1180px) {
  .site-intro__social {
    margin-left: 45px;
  }
}
.site-intro__banner {
  position: relative;
  top: -5px;
  z-index: 10;
}
@media (min-width: 764px) {
  .site-intro__banner {
    top: 34px;
  }
}
@media (min-width: 1180px) {
  .site-intro__banner {
    top: auto;
  }
}
.site-intro__title {
  display: block;
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: 500;
  word-spacing: 100vw;
}
@media (min-width: 764px) {
  .site-intro__title {
    margin-bottom: 36px;
    font-size: 36px;
    word-spacing: normal;
  }
}
@media (min-width: 1180px) {
  .site-intro__title {
    font-size: 48px;
  }
}
.site-intro__slider {
  position: absolute;
  z-index: 1;
  top: calc(-50% - 5px);
  right: 15px;
  width: 100%;
  max-width: 219px;
}
@media (min-width: 764px) {
  .site-intro__slider {
    top: 90px;
    right: 60px;
    max-width: 393px;
  }
}
@media (min-width: 1180px) {
  .site-intro__slider {
    top: 80px;
    right: 90px;
    max-width: 605px;
  }
}
.site-footer {
  padding-top: 30px;
  padding-bottom: 25px;
  background-image: -webkit-linear-gradient(left, #ece5e1 0%, #ece5e1 100%);
  background-image: linear-gradient(to right, #ece5e1 0%, #ece5e1 100%);
}
@media (min-width: 764px) {
  .site-footer {
    padding-top: 35px;
    padding-bottom: 30px;
  }
}
@media (min-width: 1180px) and (max-width: 1440px) {
  .site-footer {
    background-image: -webkit-linear-gradient(left, #decec5 0%, #decec5 54%, #ece5e1 54%, #ece5e1 100%);
    background-image: linear-gradient(to right, #decec5 0%, #decec5 54%, #ece5e1 54%, #ece5e1 100%);
  }
}
@media (min-width: 1180px) {
  .site-footer {
    padding-top: 60px;
  }
}
.site-footer__container {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 1180px) {
  .site-footer__container {
    padding-left: 0;
    padding-right: 0;
  }
}
.site-footer__navlist {
  display: none;
}
@media (min-width: 1180px) {
  .site-footer__navlist {
    display: block;
    width: 55%;
    padding-right: 80px;
  }
}
.site-footer__info {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media (min-width: 1180px) {
  .site-footer__info {
    width: 45%;
    padding-left: 50px;
  }
}
.site-footer__copyright {
  position: relative;
  top: 8px;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  margin-top: 13px;
}
@media (min-width: 764px) {
  .site-footer__copyright {
    margin-top: 36px;
  }
}
@media (min-width: 1180px) {
  .site-footer__copyright {
    top: auto;
    margin-top: auto;
    margin-bottom: 16px;
  }
}
.menu-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 33px;
  height: 16px;
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  cursor: pointer;
}
.menu-btn__item {
  display: block;
  width: 18px;
  height: 2px;
  background-color: #000;
}
.menu-btn__item--fwidth {
  width: 33px;
}
.menu-btn__item--left {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}
.menu-btn__item--right {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
}
.icons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0;
  margin: 0;
}
.icons__link {
  text-decoration: none;
}
.navlist {
  width: 100%;
}
.navlist--header {
  position: fixed;
  z-index: 100;
  display: none;
  background-image: -webkit-linear-gradient(rgba(236, 229, 225, 0.7), rgba(236, 229, 225, 0.7)), url("../imgs/mobile-assets/lauren-fleischmann-469994-unsplash.jpg");
  background-image: linear-gradient(rgba(236, 229, 225, 0.7), rgba(236, 229, 225, 0.7)), url("../imgs/mobile-assets/lauren-fleischmann-469994-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  overflow: auto;
}
@media (min-width: 764px) {
  .navlist--header {
    background-image: -webkit-linear-gradient(left, rgba(236, 229, 225) 0, rgba(236, 229, 225) 50px, rgba(236, 229, 225, 0.7) 50px, rgba(236, 229, 225, 0.7) 60%, rgba(236, 229, 225, 0.8) 100%), url("../imgs/mobile-assets/lauren-fleischmann-469994-unsplash.jpg");
    background-image: linear-gradient(to right, rgba(236, 229, 225) 0, rgba(236, 229, 225) 50px, rgba(236, 229, 225, 0.7) 50px, rgba(236, 229, 225, 0.7) 60%, rgba(236, 229, 225, 0.8) 100%), url("../imgs/mobile-assets/lauren-fleischmann-469994-unsplash.jpg");
  }
}
@media (min-width: 1180px) {
  .navlist--header {
    background-image: -webkit-linear-gradient(left, rgba(236, 229, 225) 0, rgba(236, 229, 225) 75px, rgba(236, 229, 225, 0.7) 75px, rgba(236, 229, 225, 0.7) 60%, rgba(236, 229, 225, 0.8) 100%), url("../imgs/mobile-assets/lauren-fleischmann-469994-unsplash.jpg");
    background-image: linear-gradient(to right, rgba(236, 229, 225) 0, rgba(236, 229, 225) 75px, rgba(236, 229, 225, 0.7) 75px, rgba(236, 229, 225, 0.7) 60%, rgba(236, 229, 225, 0.8) 100%), url("../imgs/mobile-assets/lauren-fleischmann-469994-unsplash.jpg");
  }
}
.navlist__layout {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}
.navlist__layout--header {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  max-width: 380px;
  height: 100vh;
  padding-top: 130px;
}
@media (min-width: 764px) {
  .navlist__layout--header {
    max-width: 83.33333%;
    padding-top: 200px;
    padding-left: 50px;
  }
}
@media (min-width: 1180px) {
  .navlist__layout--header {
    max-width: 100%;
    padding-left: 0;
  }
}
.navlist__menu-btn {
  position: absolute;
  top: 9px;
  left: 15px;
}
@media (min-width: 764px) {
  .navlist__menu-btn {
    top: 40px;
    left: 9px;
  }
}
@media (min-width: 1180px) {
  .navlist__menu-btn {
    left: 20px;
  }
}
.navlist__menu-close {
  position: absolute;
  top: 9px;
  right: 15px;
}
@media (min-width: 764px) {
  .navlist__menu-close {
    top: 40px;
  }
}
@media (min-width: 1180px) {
  .navlist__menu-close {
    right: 90px;
  }
}
.navlist__column {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style: none;
}
.navlist__link {
  display: inline-block;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 400;
  color: #342b2b;
}
@media (min-width: 1180px) {
  .navlist__link {
    margin-bottom: 20px;
    font-size: 18px;
  }
}
.navlist__link--mobile {
  display: none;
}
@media (max-width: 764px) {
  .navlist__link--mobile {
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
  }
}
.navlist__link--tablet {
  display: none;
}
@media (min-width: 764px) {
  .navlist__link--tablet {
    display: inline-block;
  }
}
.navlist__link--desktop {
  display: none;
}
@media (min-width: 1180px) {
  .navlist__link--desktop {
    display: inline-block;
  }
}
.navlist__link:hover {
  background-image: -webkit-linear-gradient(transparent 85%, #342b2b 85%, #342b2b calc(85% + 2px), transparent calc(85% + 2px), transparent);
  background-image: linear-gradient(transparent 85%, #342b2b 85%, #342b2b calc(85% + 2px), transparent calc(85% + 2px), transparent);
}
.navlist__title {
  display: inline-block;
  padding: 0;
  margin: 0;
  margin-bottom: 1em;
  font-size: 18px;
  font-weight: 600;
  color: #342b2b;
}
.navlist__title--header {
  position: absolute;
  top: -50px;
  left: 0;
  font-size: 24px;
}
.navlist__title--hidden {
  visibility: hidden;
}
.navlist__search {
  display: none;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 285px;
  padding-bottom: 3px;
  border-bottom: 1px solid #000;
}
@media (min-width: 764px) and (max-width: 1180px) {
  .navlist__search--tablet {
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    left: 0;
    bottom: -100px;
  }
}
@media (min-width: 1180px) {
  .navlist__search--desktop {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 1em;
  }
}
.navlist__search img {
  width: 17px;
  height: 17px;
}
.navlist__search input {
  width: 100%;
  margin-left: 30px;
  border: none;
  background: none;
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  color: #342b2b;
}
.navlist__search input:focus {
  outline: none;
}
.navlist__search input::-webkit-input-placeholder {
  font-size: 18px;
  font-weight: 400;
  color: #342b2b;
}
.navlist__search input::-moz-placeholder {
  font-size: 18px;
  font-weight: 400;
  color: #342b2b;
}
.navlist__search input:-ms-input-placeholder {
  font-size: 18px;
  font-weight: 400;
  color: #342b2b;
}
.navlist__search input::-ms-input-placeholder {
  font-size: 18px;
  font-weight: 400;
  color: #342b2b;
}
.navlist__search input::placeholder {
  font-size: 18px;
  font-weight: 400;
  color: #342b2b;
}
.menu-close {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 23px;
  height: 23px;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  cursor: pointer;
}
.menu-close::before,
.menu-close::after {
  content: '';
  position: absolute;
  z-index: 1;
  display: block;
  width: 141.421%;
  height: 2px;
  background-color: #000;
}
.menu-close::before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.menu-close::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 170px;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}
.logo__brand {
  font-size: 24px;
  letter-spacing: 0.05em;
}
.logo__town {
  font-size: 12px;
  letter-spacing: 0.1em;
}
.comma {
  position: relative;
  top: 5px;
  display: inline-block;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.nowrap-text {
  word-spacing: normal;
  white-space: nowrap;
}
.link {
  font-family: 'Cormorant', serif;
  font-size: 14px;
  font-weight: 400;
  color: #342b2b;
}
@media (min-width: 1180px) {
  .link {
    font-size: 18px;
  }
}
.link--color_r {
  color: #79100b;
}
.link--weight_b {
  font-weight: 600;
}
.link--underline_r {
  padding-bottom: 5px;
  border-bottom: 1px solid #79100b;
}
.link--underline_b {
  text-decoration: underline;
}
.link:not(.link--underline_r):not(.link--underline_b):hover {
  text-decoration: underline;
}
.social {
  display: inline-block;
  padding: 0;
  list-style: none;
}
.social__item {
  display: block;
  margin-bottom: 5px;
}
.social__item--inline {
  display: inline-block;
}
.social__item--footer {
  margin-bottom: 12px;
}
@media (min-width: 764px) {
  .social__item--footer {
    display: inline-block;
    margin-bottom: 0;
  }
  .social__item--footer:not(:last-child) {
    margin-right: 35px;
  }
}
@media (min-width: 1180px) {
  .social__item--footer:not(:last-child) {
    margin-right: 20px;
  }
}
.social__dash {
  display: block;
  width: 24px;
  height: 1px;
  margin: 0 10px;
  background-color: #000;
}
.slider-intro {
  width: 100%;
}
.slider-intro__nav {
  display: none;
}
@media (min-width: 764px) {
  .slider-intro__nav {
    position: relative;
    bottom: 6px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    min-height: 80px;
  }
}
.slider-intro__link {
  display: none;
}
@media (min-width: 764px) {
  .slider-intro__link {
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: block;
    font-size: 16px;
  }
}
.slider-merch {
  position: relative;
  margin-top: 15px;
}
@media (min-width: 764px) {
  .slider-merch {
    margin-top: 40px;
  }
}
@media (min-width: 1180px) {
  .slider-merch {
    margin-top: 60px;
  }
}
.slider-merch__nav {
  position: absolute;
  top: 40%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
}
.product {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  max-width: 219px;
  margin-left: auto;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  not supported by any browser */
}
@media (min-width: 764px) {
  .product {
    max-width: 393px;
  }
}
@media (min-width: 1180px) {
  .product {
    max-width: 605px;
  }
}
.product__img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  pointer-events: none;
}
.product__title {
  display: none;
}
@media (min-width: 764px) {
  .product__title {
    position: absolute;
    bottom: 50px;
    right: 0;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 20px 40px 25px;
    background-color: rgba(236, 229, 235, 0.8);
    font-size: 24px;
    font-weight: 600;
    color: #91161d;
  }
}
@media (min-width: 1180px) {
  .product__title {
    bottom: 82px;
    right: auto;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}
.product__name {
  white-space: nowrap;
}
.product__price {
  position: relative;
  top: 6px;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  font-size: 18px;
}
.product__price::before {
  content: '';
  position: absolute;
  top: 50%;
  right: calc(100% + 15px);
  -webkit-transform: translate(0, calc(-50% + 2px));
  -ms-transform: translate(0, calc(-50% + 2px));
  transform: translate(0, calc(-50% + 2px));
  display: block;
  width: 72px;
  height: 2px;
  background-color: #91161d;
}
.intro-nav {
  padding: 0;
  margin: 0;
  font-size: 0;
  font-weight: 500;
  color: #952126;
  white-space: nowrap;
}
.intro-nav__slash {
  font-size: 24px;
}
@media (min-width: 1180px) {
  .intro-nav__slash {
    font-size: 36px;
  }
}
.intro-nav__count {
  font-size: 24px;
}
@media (min-width: 1180px) {
  .intro-nav__count {
    font-size: 36px;
  }
}
.intro-nav__count--total {
  position: relative;
  top: 8px;
  font-weight: 400;
  color: #0b0b0b;
}
@media (min-width: 764px) {
  .intro-nav__count--total {
    font-size: 18px;
  }
}
@media (min-width: 1180px) {
  .intro-nav__count--total {
    top: 16px;
    font-size: 24px;
  }
}
.slider-btn {
  font-size: 16px;
  font-weight: 300;
  line-height: 16px;
  color: #952126;
  background: none;
  border: none;
}
@media (min-width: 1180px) {
  .slider-btn {
    font-size: 22px;
  }
}
.slider-btn--pd {
  padding: 10px;
}
@media (min-width: 1180px) {
  .slider-btn--pd {
    padding: 22px;
  }
}
.slider-btn--large {
  font-size: 30px;
  line-height: 30px;
}
.section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.section__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}
.section__header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.section__title {
  padding: 0;
  margin: 0;
  font-size: 24px;
  font-weight: 500;
  color: #91171d;
}
@media (min-width: 764px) {
  .section__title {
    font-size: 36px;
  }
}
@media (min-width: 1180px) {
  .section__title {
    font-size: 48px;
  }
}
.section__title--new-merch {
  margin-bottom: 28px;
}
@media (min-width: 764px) {
  .section__title--new-merch {
    margin-bottom: 15px;
  }
}
.section__title--about {
  margin-bottom: 40px;
}
@media (min-width: 764px) {
  .section__title--about {
    margin-bottom: 60px;
  }
}
@media (min-width: 1180px) {
  .section__title--about {
    margin-bottom: 98px;
  }
}
.section__title--blog {
  margin-bottom: 6px;
}
@media (min-width: 764px) {
  .section__title--blog {
    font-size: 48px;
    margin-bottom: 44px;
  }
}
@media (min-width: 1180px) {
  .section__title--blog {
    margin-bottom: 117px;
  }
}
.section__btn {
  margin: 0 9px;
}
@media (min-width: 1180px) {
  .section__btn {
    margin: 0 20px;
  }
}
.section__footer {
  margin-top: 34px;
}
@media (min-width: 764px) {
  .section__footer {
    margin-top: 72px;
  }
}
.section__footer--blog {
  margin-top: 38px;
}
@media (min-width: 764px) {
  .section__footer--blog {
    margin-top: 62px;
  }
}
@media (min-width: 1180px) {
  .section__footer--blog {
    margin-top: 108px;
  }
}
.btn {
  font-family: 'Cormorant', serif;
  font-size: 14px;
  font-weight: 600;
  color: #342b2b;
  background: none;
  border: none;
  cursor: pointer;
}
@media (min-width: 764px) {
  .btn {
    font-size: 16px;
  }
}
@media (min-width: 1180px) {
  .btn {
    font-size: 18px;
  }
}
.btn:hover {
  text-decoration: underline;
}
.new-merch {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  max-width: 244px;
  margin: 0 auto;
}
@media (min-width: 764px) {
  .new-merch {
    max-width: 228px;
  }
}
@media (min-width: 1180px) {
  .new-merch {
    max-width: 349px;
  }
}
.new-merch__product {
  position: relative;
}
.new-merch__img {
  display: block;
  max-width: 100%;
  height: auto;
  pointer-events: none;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                    not supported by any browser */
}
.new-merch__like {
  position: absolute;
  top: 7px;
  right: 8px;
  font-size: 20px;
}
@media (min-width: 1180px) {
  .new-merch__like {
    top: 17px;
    right: 20px;
    font-size: 26px;
  }
}
.new-merch__nav {
  position: absolute;
  bottom: 3px;
  left: 4px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 4px;
  margin: 0;
}
@media (min-width: 1180px) {
  .new-merch__nav {
    bottom: 14px;
    left: 25px;
  }
}
.new-merch__nav-slash {
  display: block;
  width: 1px;
  height: 20px;
  background-color: rgba(52, 43, 43, 0.7);
  margin: 0 10px;
  font-size: 20px;
}
.new-merch__btn {
  border: none;
  background: none;
  font-size: 15px;
  color: #342b2b;
}
.new-merch__title {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-top: 13px;
}
@media (min-width: 764px) {
  .new-merch__title {
    margin-top: 5px;
  }
}
@media (min-width: 1180px) {
  .new-merch__title {
    margin-top: 20px;
  }
}
.new-merch__name {
  font-size: 18px;
  font-weight: 500;
  color: #342b2b;
}
@media (min-width: 764px) {
  .new-merch__name {
    font-size: 24px;
  }
}
@media (min-width: 1180px) {
  .new-merch__name {
    white-space: nowrap;
    font-size: 30px;
  }
}
.new-merch__name--visable-desk {
  display: none;
}
@media (min-width: 1180px) {
  .new-merch__name--visable-desk {
    display: inline;
  }
}
.new-merch__price {
  position: relative;
  left: 20px;
  font-size: 14px;
  font-weight: 500;
  color: #342b2b;
}
@media (min-width: 764px) {
  .new-merch__price {
    left: 34px;
    font-size: 16px;
  }
}
@media (min-width: 1180px) {
  .new-merch__price {
    margin-top: 3px;
    font-size: 20px;
  }
}
.new-merch__price::before {
  content: '';
  position: absolute;
  top: 50%;
  right: calc(100% + 12px);
  width: 30px;
  height: 1px;
  background-color: #342b2b;
}
@media (min-width: 764px) {
  .new-merch__price::before {
    width: 49px;
  }
}
.about-content__container {
  background-image: -webkit-linear-gradient(rgba(236, 229, 225, 0.8), rgba(236, 229, 225, 0.8)), url("../imgs/ahmed-carter-433913-unsplash.jpg");
  background-image: linear-gradient(rgba(236, 229, 225, 0.8), rgba(236, 229, 225, 0.8)), url("../imgs/ahmed-carter-433913-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
}
@media (min-width: 764px) {
  .about-content__container {
    padding-top: 37px;
    padding-bottom: 55px;
    background-image: url("../imgs/iamwoman-tablet-assets/ahmed-carter-433913-unsplash.jpg"), url("../imgs/iamwoman-tablet-assets/ahmed-carter-433915-unsplash.jpg");
    background-size: calc(50% - 10px) auto;
    background-position: top left, right bottom;
    max-width: 850px;
  }
}
@media (min-width: 1180px) {
  .about-content__container {
    padding-top: 70px;
    padding-bottom: 70px;
    max-width: none;
    background-image: url("../imgs/iamwoman-desktop-assets/ahmed-carter-433913-unsplash.jpg"), url("../imgs/iamwoman-desktop-assets/ahmed-carter-433915-unsplash.jpg");
    background-size: calc(50% - 16px) auto;
  }
}
.about-content__article {
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 764px) {
  .about-content__article {
    width: 63%;
    background-color: rgba(236, 229, 225, 0.8);
  }
}
.about-content__article--first {
  padding-top: 22px;
}
@media (min-width: 764px) {
  .about-content__article--first {
    padding: 30px 25px 40px;
    margin-left: auto;
  }
}
@media (min-width: 1180px) {
  .about-content__article--first {
    padding: 30px 40px 45px;
  }
}
.about-content__article--second {
  padding-top: 20px;
  padding-bottom: 50px;
}
@media (min-width: 764px) {
  .about-content__article--second {
    padding: 45px 25px 40px 15px;
    margin-top: 391px;
    margin-right: auto;
  }
}
@media (min-width: 1180px) {
  .about-content__article--second {
    padding: 60px 40px;
    margin-top: 515px;
  }
}
.about-content__text {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.2;
  color: #342b2b;
  text-align: center;
}
.about-content__text--shift {
  padding-top: 22px;
}
@media (min-width: 764px) {
  .about-content__text {
    text-align: left;
  }
}
@media (min-width: 1180px) {
  .about-content__text {
    font-size: 20px;
  }
}
.blog-post {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  max-width: 244px;
  margin: 0 auto;
  font-family: 'Cormorant', serif;
}
@media (min-width: 764px) {
  .blog-post {
    max-width: 345px;
  }
}
@media (min-width: 1180px) {
  .blog-post {
    max-width: 401px;
  }
}
.blog-post__tag {
  position: relative;
  display: block;
  -webkit-align-self: start;
  -ms-flex-item-align: start;
  -ms-grid-row-align: start;
  align-self: start;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.05em;
  text-align: left;
}
.blog-post__tag::before {
  content: '#';
}
.blog-post__img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 4px;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                    not supported by any browser */
}
@media (min-width: 1180px) {
  .blog-post__img {
    margin-bottom: 10px;
  }
}
.blog-post__title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}
@media (min-width: 764px) {
  .blog-post__title {
    margin-bottom: 4px;
    font-size: 24px;
  }
}
@media (min-width: 1180px) {
  .blog-post__title {
    margin-bottom: 12px;
    font-size: 30px;
  }
}
.blog-post__text {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.05em;
  line-height: 1.2;
  text-align: center;
}
.countbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 67px;
}
@media (min-width: 764px) {
  .countbar {
    position: absolute;
    top: -122px;
    right: 0;
  }
}
@media (min-width: 1180px) {
  .countbar {
    top: -190px;
  }
}
.countbar__track {
  position: relative;
  width: 207px;
  height: 1px;
  background-color: #000;
}
@media (min-width: 1180px) {
  .countbar__track {
    width: 351px;
  }
}
.countbar__thumb {
  position: absolute;
  bottom: -1px;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 78px;
  border-bottom: 3px solid #000;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
@media (min-width: 1180px) {
  .countbar__thumb {
    width: 93px;
  }
}
.countbar__meter {
  margin-bottom: 10px;
}
.countbar__slash {
  font-size: 24px;
}
.countbar__count {
  font-size: 24px;
}
@media (min-width: 1180px) {
  .countbar__count {
    font-size: 30px;
  }
}
.countbar__count--small {
  font-size: 16px;
}
@media (min-width: 1180px) {
  .countbar__count--small {
    font-size: 18px;
  }
}
.subscribe {
  padding: 24px 17px;
  width: 100%;
  background-image: url("../imgs/ashim-d-silva-89336-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
}
@media (min-width: 764px) {
  .subscribe {
    padding: 51px 84px;
  }
}
@media (min-width: 1180px) {
  .subscribe {
    padding: 42px 152px 62px;
  }
}
.subscribe__container {
  padding: 65px 20px 75px;
  background-color: rgba(236, 229, 225, 0.8);
}
@media (min-width: 764px) {
  .subscribe__container {
    padding: 65px 42px 65px;
  }
}
@media (min-width: 1180px) {
  .subscribe__container {
    padding-top: 72px;
    padding-bottom: 80px;
  }
}
.subscribe__text {
  margin-bottom: 32px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
  color: #91171d;
  text-align: center;
}
@media (min-width: 764px) {
  .subscribe__text {
    margin-bottom: 28px;
    font-size: 24px;
  }
}
@media (min-width: 1180px) {
  .subscribe__text {
    margin-bottom: 34px;
    font-size: 36px;
  }
}
.subscribe__form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: none;
}
.subscribe__mail {
  margin-bottom: 41px;
}
@media (min-width: 764px) {
  .subscribe__mail {
    margin-bottom: 28px;
  }
}
@media (min-width: 1180px) {
  .subscribe__mail {
    margin-bottom: 24px;
  }
}
.subscribe__submit {
  margin-bottom: 8px;
}
@media (min-width: 1180px) {
  .subscribe__submit {
    margin-bottom: 12px;
  }
}
.subscribe__rule {
  display: block;
  font-size: 12px;
  line-height: 1.1;
  letter-spacing: 0.05em;
  text-align: center;
}
.brand {
  text-transform: uppercase;
  white-space: nowrap;
}
.mail {
  display: block;
  width: 180px;
  padding-bottom: 1px;
  font-family: 'Cormorant', serif;
  font-size: 16px;
  font-weight: 400;
  color: #342b2b;
  text-align: left;
  background: none;
  border: none;
  border-bottom: 1px solid #342b2b;
  outline: none;
}
.mail::-webkit-input-placeholder {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.05em;
  color: #342b2b;
}
.mail::-moz-placeholder {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.05em;
  color: #342b2b;
}
.mail:-ms-input-placeholder {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.05em;
  color: #342b2b;
}
.mail::-ms-input-placeholder {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.05em;
  color: #342b2b;
}
.mail::placeholder {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.05em;
  color: #342b2b;
}
.mail--center {
  text-align: center;
}
.submit {
  display: block;
  padding: 8px 36px;
  font-family: 'Cormorant', serif;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  background-color: #91171d;
  border: none;
  border-radius: 3px;
}
@media (min-width: 764px) {
  .submit {
    font-size: 18px;
    padding: 8px 30px;
  }
}
@media (min-width: 1180px) {
  .submit {
    padding: 8px 36px;
  }
}
.info {
  display: block;
}
.info__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 10px;
}
@media (min-width: 764px) {
  .info__item {
    padding: 0;
    margin-bottom: 12px;
  }
}
@media (min-width: 1180px) {
  .info__item {
    margin-bottom: 22px;
  }
}
.info__item--tablet {
  display: none;
}
@media (min-width: 764px) {
  .info__item--tablet {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}
.info__item--desktop {
  display: none;
}
@media (min-width: 1180px) {
  .info__item--desktop {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}
.info__term {
  width: 50%;
  font-size: 16px;
  font-weight: 600;
  color: #342b2b;
}
@media (min-width: 764px) {
  .info__term {
    width: 28%;
  }
}
@media (min-width: 1180px) {
  .info__term {
    width: 43%;
    font-size: 18px;
  }
}
.info__add {
  display: none;
}
@media (min-width: 764px) {
  .info__add {
    display: inline;
  }
}
.info__phone {
  position: relative;
  bottom: 3px;
  font-size: 16px;
  font-weight: 600;
  color: #342b2b;
}
@media (min-width: 1180px) {
  .info__phone {
    font-size: 18px;
  }
}
.payment-list {
  padding: 0;
  font-size: 0;
  list-style: none;
}
.payment-list__item {
  display: inline-block;
  margin-right: 18px;
}
.payment-list__img {
  height: 40px;
}
.payment-rule {
  margin-top: 20px;
  font-size: 14px;
  white-space: nowrap;
}
.payment-rule__link {
  font-size: 14px;
}
.copyright {
  padding: 0;
  margin: 0;
  font-size: 14px;
  white-space: nowrap;
}
.copyright__sign {
  font-size: 18px;
  padding-right: 2px;
}
.menu {
  position: fixed;
  z-index: 10;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  font-size: 18px;
  font-weight: 400;
  color: #342b2b;
  background-image: -webkit-linear-gradient(left, #decec5 0, #decec5 75px, rgba(236, 229, 225, 0.7) 75px, rgba(236, 229, 225, 0.7)), url("../imgs/lauren-fleischmann-469994-unsplash.jpg");
  background-image: linear-gradient(to right, #decec5 0, #decec5 75px, rgba(236, 229, 225, 0.7) 75px, rgba(236, 229, 225, 0.7)), url("../imgs/lauren-fleischmann-469994-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}
.menu__btn {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}
.menu__btn .menu-btn {
  margin-left: 21px;
}
.menu__btn .menu-close {
  margin-top: 35px;
  margin-left: auto;
  margin-right: 90px;
}
.reverse {
  position: fixed;
  left: 10px;
  bottom: 10px;
  z-index: 1000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 0 2px #0a0a0a;
  overflow: hidden;
}
.reverse__link {
  position: absolute;
  top: 0;
  font-size: 3rem;
  line-height: 1;
  color: #0a0a0a;
  text-align: center;
}
.reverse__link--block {
  display: block;
}
.reverse__link:hover {
  top: auto;
  bottom: 2px;
}
