.submit {
  display: block;
  padding: 8px 35px;
  font-family: 'Cormorant', serif;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  background-color: #91171d;
  border: none;
  border-radius: 3px;
}
@media (min-width: 764px) {
  .submit {
    font-size: 18px;
    padding: 8px 30px;
  }
}
@media (min-width: 1180px) {
  .submit {
    padding: 8px 36px;
  }
}
