html,
body {
  padding: 0;
  margin: 0; }

* {
  box-sizing: border-box; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }

a {
  color: inherit;
  text-decoration: none; }
  a[href^="http"]:empty::before {
    content: attr(href); }

::-moz-selection {
  background-color: #0a0a0a;
  color: #fff; }

::selection {
  background-color: #0a0a0a;
  color: #fff; }

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  opacity: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

/* noto-sans-regular - latin_cyrillic */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/NotoSans/noto-sans-v12-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/NotoSans/noto-sans-v12-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSans/noto-sans-v12-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/NotoSans/noto-sans-v12-latin_cyrillic-regular.woff") format("woff"), url("../fonts/NotoSans/noto-sans-v12-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/NotoSans/noto-sans-v12-latin_cyrillic-regular.svg#NotoSans") format("svg");
  /* Legacy iOS */ }

.site-body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: 'Noto Sans', Arial, sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #0a0a0a;
  background-color: #fff; }

.site-header {
  height: 100%; }

.site-main {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto; }
  .site-main__dnd-area {
    margin-top: 20px; }
  .site-main__direct-area {
    margin-top: 20px; }
  .site-main__gallery {
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 20px; }

.site-footer {
  margin-top: auto;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0; }

.container {
  position: relative;
  min-width: 320px;
  max-width: 1080px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto; }

.navbar__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 8px 0; }

.navbar__item--title {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

.navbar__item--type {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

.navbar__item--year {
  -webkit-box-flex: 2;
  -webkit-flex-grow: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
  text-align: right; }

.hr {
  width: 100%;
  height: 2px;
  background-color: #0a0a0a; }

.headline {
  text-align: center; }
  .headline__title {
    font-size: 1.5rem; }
    @media only screen and (min-width: 620px) {
      .headline__title {
        margin: 20px 0 0;
        font-size: 2rem; } }
  .headline__subtitle {
    display: block;
    margin-top: 16px; }

.link {
  position: relative;
  display: inline-block; }
  .link::before, .link::after {
    content: '';
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: block;
    width: 2px;
    height: 100%;
    background-color: #0a0a0a;
    z-index: -1; }
  .link::before, .link::after {
    opacity: 0;
    -webkit-transition: all .6s linear;
    transition: all .6s linear; }
  .link::before {
    left: 50%; }
  .link::after {
    right: 50%; }
  .link:hover::before, .link:hover::after {
    opacity: 1; }
  .link:hover::before {
    left: -0.5rem; }
  .link:hover::after {
    right: -0.5rem; }
  .link:active {
    color: #fff; }
    .link:active::before, .link:active::after {
      width: 100%; }

.dnd-area {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 150px; }
  @media only screen and (min-width: 620px) {
    .dnd-area {
      height: 200px; } }
  .dnd-area::before {
    content: '';
    position: absolute;
    z-index: -10;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: calc(100% - 8px);
    height: 100%;
    border: 4px solid #0a0a0a; }
  .dnd-area__vb, .dnd-area__hb {
    position: absolute;
    z-index: -1;
    display: block;
    background-color: #fff;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform .5s ease-in-out;
    transition: -webkit-transform .5s ease-in-out;
    transition: transform .5s ease-in-out;
    transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out; }
  .dnd-area__vb {
    top: -5px;
    left: 40px;
    width: calc(100% - 80px);
    height: calc(100% + 10px); }
  .dnd-area__hb {
    top: 40px;
    left: -5px;
    width: calc(100% + 10px);
    height: calc(100% - 80px); }
  .dnd-area--hl .dnd-area__vb {
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1); }
  .dnd-area--hl .dnd-area__hb {
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    transform: scale(1, 0); }
  .dnd-area .dnd-area__text {
    text-align: center;
    line-height: 1.5; }

.direct-area {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  @media only screen and (min-width: 620px) {
    .direct-area {
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; } }

.btn-label {
  display: block;
  border: 2px solid #0a0a0a;
  border-radius: 1rem;
  color: #0a0a0a; }

.dnd-area__input:hover + .btn-label {
  cursor: pointer;
  box-shadow: 0 0 5px #0a0a0a; }

.dnd-area__input:focus + .btn-label {
  box-shadow: 0 0 5px #0a0a0a; }

.dnd-area__input:active + .btn-label {
  box-shadow: inset 0 0 2px #000; }

.txt-input {
  width: 100%;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid #0a0a0a; }
  .txt-input:focus {
    outline: none;
    box-shadow: 0 4px 2px -2px #0a0a0a; }

.btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 170px;
  padding: .2rem 1rem;
  margin: 0;
  border: 2px solid #0a0a0a;
  border-radius: .8rem;
  color: white;
  background: none;
  background-image: -webkit-linear-gradient(315deg, #0a0a0a 0, #0a0a0a 65%, transparent 65%, transparent 100%);
  background-image: linear-gradient(135deg, #0a0a0a 0, #0a0a0a 65%, transparent 65%, transparent 100%);
  background-size: 200% 200%;
  background-position: 65% 75%;
  -webkit-transition: background-position 1s ease;
  transition: background-position 1s ease; }
  .btn:hover {
    cursor: pointer;
    box-shadow: 0 0 5px #0a0a0a;
    background-position: 0 75%; }
    .btn:hover .btn__svg-icon {
      fill: white; }
  .btn:focus {
    -webkit-transition: none;
    transition: none;
    outline: none;
    box-shadow: 0 0 5px #0a0a0a; }
  .btn:active {
    box-shadow: inset 0 0 2px #000; }
  .btn__svg-icon {
    margin-left: 2rem;
    fill: #0a0a0a;
    -webkit-transition: all 1s ease;
    transition: all 1s ease; }

.gallery {
  width: 100%;
  min-width: 320px;
  max-width: 860px;
  height: 100%;
  font-size: 0; }
  .gallery__item {
    position: relative;
    display: inline-block;
    font-size: 0; }
    .gallery__item img {
      height: 150px;
      border-radius: 10px;
      background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
      background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)); }
    .gallery__item:hover .gallery__delete-btn {
      display: block; }
  .gallery__delete-btn {
    display: none;
    position: absolute;
    top: 5px;
    right: 5px;
    -webkit-transition: all 1s ease;
    transition: all 1s ease; }

.delete-btn {
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer; }
  .delete-btn::before, .delete-btn::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 20px;
    height: 2px;
    background-color: #fff; }
  .delete-btn::before {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    -ms-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg); }
  .delete-btn::after {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    -ms-transform: translate(-50%, -50%) rotate(-45deg);
    transform: translate(-50%, -50%) rotate(-45deg); }
